

.overlayPokemonDetails {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.hidden {
    display: none;
}

.overlayContent {
    background: white;
    color: black;
    /* padding: 32px; */
    border-radius: 24px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.overlayContent h2 {
    margin-top: 16px;
}

.overlayContent IMG {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.pokemonInfo {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 280px;

}

.noScroll {
    overflow: hidden;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    text-align: left;
    margin-left: 24px;
    margin-top: 16px;
}

.aboutContainer h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 18px;
}

.aboutLabel {
    margin-right: 8px;
    color: #969090;
}

.aboutValue {
    font-weight: bold;
    color: #333;
}

.aboutRow {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.aboutContainer span {
     margin: 4px 0;
}

.aboutContainer b {
    
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.evolutionChain {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.evolutionCard {
   text-align: center;
}

.evolutionCard img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.evolutionCard p {
    margin-top: 4px;
    font-size: 16px;
}

/* -------Base Stats Styles------- */

.statsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
}

.statRow {
    display: grid;
    grid-template-columns: 120px 40px 1fr;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.statName {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
}

.statBarBackground {
    width: calc(100% - 40px);
    height: 12px;
    background-color: #dddddd;
    border-radius: 999px;
    overflow: hidden;
}

.statBar {
    height: 100%;
    background-color: red;
    border-radius: 999px;
}

/* ---------------------Moves Styles-------------------- */

.movesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 5px;
}

.moveBadge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/* ----------------------Overlay Button Styles---------------------- */
#closeOverlay {
    position: absolute;
    background: transparent;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
     border: 2px solid black;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayTabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
    background: #f0f0f0;
}

.overlayTabs button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: all 0.2s ease;
}

.overlayTabs button:hover {
    color: #007bff;
}

.overlayTabs button.activeTab {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#previousPokemon,
#nextPokemon {
    background: transparent;
    border: solid black 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previousPokemon img,
#nextPokemon img {
    width: 28px;
    height: 28px;
    background: transparent;
    border: none;
}

.arrowLeft {
    transform: scaleX(-1);
}

.genderIcon img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


@media(max-width:530px){
    .overlayTabs{
        gap:0px;
    }

    .overlayTabs button{
        padding: 10px;
        font-size: 16px;
    }

    .movesContainer {
    height: 350px;
    overflow-y: auto;
    }
}

@media(max-width:460px){

    .evolutionCard img{
        width: 75px;
    }

    .aboutContainer{
        margin-left: 16px;
    }

    .aboutRow{
        grid-template-columns: 90px 1fr;
    }
}

@media(max-width:380px){
    .overlayTabs{
        gap:0px;
    }

    .overlayTabs button{
        padding: 5px;
        font-size: 14px;
    }

    .statsContainer{
        margin-left: 8px;
        text-align: left;
        font-size: 16px;
    }

    .statRow{
        gap: 5px;
    }
    
    .aboutRow{
        grid-template-columns: 85px 1fr;
    }
}